<div class="row">
  <div class="col-md-3">
    <h2><%= "#{@user.first_name}'s User Profile" %></h2>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to "Sniffers", user_followers_path(@user) %>
      </div>
      <div class="panel-body">
        <%= link_to "Smelling", user_followings_path(@user) %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <% if current_user && current_user == @user %>
      <div class="row">
        <div class="panel panel-defult">
          <div class="panel-body">
            <%= form_for :toot, url: toots_path, class: "navbar-form navbar-left" do |f| %>
              <%= f.label "Enter your Toot:" %>
              <%= f.text_area :body, class: "form-control" %>
              <%= f.submit "Submit", class: "btn btn-default"  %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <% if current_user.following?(@user) %>
      <%= link_to "Stop sniffing", user_follower_path(@user, current_user), { method: :delete } %>
    <% elsif current_user != @user %>
      <%= link_to "Sniff", user_followers_path(@user), { method: :post } %>
    <% end %>
    <div class="row">
      <div class="toots">
        <% @toots.each do |toot| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4><%= link_to toot.user.username, user_path(toot.user) %> - <small>Tooted at: <%= toot.created_at.to_formatted_s(:short) %></small></h4>
            </div>
            <div class="panel-body">
              <%= toot.body %> 
              <div style="float:right">
                <% if current_user %>
                  <% if toot.favorite_for?(current_user) %>
                    Favorited!
                  <% else %>
                    <%= link_to "Favorite", toot_favorites_path(toot), { method: :post } %>
                  <% end %>
                <% end %>
                | Favorited <%= toot.favorite_count %> times
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>

